<!DOCTYPE html>
<html ng-app="blogApp">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>TM MongoDB</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" ></script>

 <link rel='stylesheet'  href='app/css/blog.css'> 
  
</head>
<body >
    <div  ng-controller="blogsController">
        <h1>There are {{blogs.length}} blogs</h1>
        <ul>
            <li ng-repeat="blog in blogs">
                ID: {{blog.blogID}}<br />
                Title: {{blog.title}}<br />
                Date: {{blog.date}}<br />
                Category: {{blog.cat3}}<br />
                Citation: {{blog.cite}}<br />

            </li>
            <form ng-submit="createBlog()">
                
                <input type="number" min="0" placeholder="Blog ID" ng-model="blogID">     <!--  NEED type test!!-->
                <input type="text" placeholder="Blog Name" ng-model="blogTitle">
                <input type="text" placeholder="Blog Date" ng-model="blogDate">
                <input type="text" placeholder="Blog Category" ng-model="blogCat3">
                <input type="text" placeholder="Blog Citation" ng-model="blogCite">
                <button type="submit">Add</button>  
                
            </form>
        </ul>
    </div>
     
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-resource.min.js'></script> 
    <script src='/app/app.js'></script>
    <script src='/app/controllers/blogs-controller.js'></script>
</body>
</html>