<h3 id="headerAdd">Add Patient</h3> 
<form class="form form-horizontal"  id="add-form" role="form">
<!-- <div class="col1"> -->
        <div class="form-group">
                <label for="patientTitle" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-4">
                    <input ng-model="patientAdder.newPatient.name" type="text" class="form-control" id="patientName"
                        placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label for="patientAge" type="number" min="0" class="col-sm-3 control-label">Age</label>
                <div class="col-sm-4">
                    <input ng-model="patientAdder.newPatient.age" type="text" class="form-control" id="patientAge"
                        placeholder="Age">
                </div>
            </div>
            <div class="form-group">
                <label for="patientGender" type="number" min="0" class="col-sm-3 control-label">Gender</label>
                <div class="col-sm-4">
                    <input ng-model="patientAdder.newPatient.gender" type="text" class="form-control" id="patientGender"
                        placeholder="Gender">
                </div>
            </div>
            <div class="form-group">
                <label for="patientAddress" class="col-sm-3 control-label">Address</label>
                <div class="col-sm-4">
                    <input ng-model="patientAdder.newPatient.address" type="text" class="form-control" id="patientAddress"
                        placeholder="Address">
                </div>
            </div>
            <div class="form-group">
                <label for="patientPublished" class="col-sm-3 control-label">Birthday</label>
                <div class="col-sm-4">
                    <input type="date" ng-model="patientAdder.newPatient.dob" class="form-control" name="patientDob"
                        value="1999-07-22" min="1950-01-01" max="2007-09-31" id="patientDob"> 
                </div>
            </div>
</div>
<!-- <div class="col2">
        <div class="col1"> -->
                <div class="form-group">
                        <label for="patientEmail" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-4">
                            <input ng-model="patientAdder.newPatient.email" type="text" class="form-control" id="patientEmail"
                                placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="patientHeight"   class="col-sm-3 control-label">Height</label>
                        <div class="col-sm-4">
                            <input type="textbox" ng-model="patientAdder.newPatient.height" type="textbox" class="form-control" id="patientHeight"
                                placeholder="Height">
                        </div>
                    </div>   
<!-- </div> -->

    <div class="form-group">
        <div class="col-sm-offset-1 col-sm-5">  
                <a href="#/">
            <button class="btn btn-default" ng-click="reload()">Cancel</button> </a>
            <button class="btn btn-default" ng-click="patientAdder.addPatient()">Save</button>
        </div>
    </div>
</form>
 