<br />
<h3>Friends of Groot Society</h3>
<hr>
<div fxLayout="column" class="containment" fxLayoutAlign="space-evenly center">


    <div class="medium-list">
        <div class="list-viewer-wrapper">
            <div class="list-header-title">
                <h3 class="page-title middle">Sign In</h3>
            </div>

            <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>
                <div class="form-container">
                    <mat-form-field>
                        <input id="email" matInput formControlName="email" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && fromInput.email.errors }"
                            placeholder="&nbsp;&nbsp;Email" />
                        <!-- <div *ngIf="submitted && fromInput.email.errors" class="invalid-feedback">
                            <div *ngIf="fromInput.email.errors.required">Username is required</div>
                        </div> -->
                    </mat-form-field>

                    <mat-form-field>
                        <input id="password" matInput formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && fromInput.password.errors }" class="form-control"
                            placeholder="&nbsp;&nbsp;Password" [type]="hide ? 'password':'text'" />
                        <!-- <div *ngIf="submitted && fromInput.password.errors" class="invalid-feedback">
                            <div *ngIf="fromInput.password.errors.required">Password is required</div>
                        </div> -->
                        <mat-icon class="visibility" matSuffix (click)="hide = !hide" ng-class="hide ? 'fas fa-eye' : 'far fa-eye-slash' "> 
              <a>{{hide ? 'visibility' : 'visibility_off'}}</a> 
            </mat-icon>
                    </mat-form-field>

                    <button mat-button type="submit" class="mat-raised-button mat-primary login"
                        [disabled]="!loginForm.valid">Login</button>
                    <a routerLink="/" class="btn btn-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>