<div class="container ">
  <!-- <button routerLink="photos/1" class="btn btn-light">Photos</button> -->
 <div  style="text-align:center" >
      <h1>
      <em>The Friends of <span class="groot"> {{ title }}</span> Society</em>
    </h1>
    <h3 class="groot">Guardians of the Galaxy API</h3>
    <hr>
 </div>


  <div class="row cards">
    <div class="col col-xs-3">
      <img width="360" alt="Angular Logo" src="https://friends-of-groot-society.s3.amazonaws.com/assets/android-chrome-384x384.png">
    </div>

    <div class="col col-xs-9"> 

   <div class="row"> 
        <div   *ngFor="let grootBook of grootBooks | async">
          <div class="card">
            <div class="card-body"> 
              <a routerLink="{{grootBook.id}}">{{grootBook.id}} 👆&nbsp;</a> 
              <span>&nbsp;{{grootBook.character}} </span><br />
              <span>From:&nbsp;&nbsp;&nbsp; {{grootBook.location}} </span><br />
              <span>Company:&nbsp; {{grootBook.thorinsCompany}}  </span><br /><br />
              <p class="quote">{{grootBook.quote}} </p>  
               <img width="70" alt="Groot Logo" src="https://friends-of-groot-society.s3.amazonaws.com/assets/android-chrome-192x192.png">  
              <p><small>{{grootBook.uniqueId}}</small></p> 
            </div>
          </div>
        </div>  
      </div>  

    </div>
  </div>
</div>