<br />
<h3 class="groot-title">Grootologue</h3>
<!-- <app-book> -->
<hr> 
 
<div  *ngIf="grootList" > 
    <!-- <input type="number" [(ngModel)] = "id"> -->
    <!-- <label>isbn</label>
    <input type="text" [(ngModel)] = "isbn"> -->
    
    <label class="add" >Author</label>
    <input type="text" id="author" [(ngModel)] = "author"><br />
    
    <label  class="add">Title</label>
    <input type="text" id="title" [(ngModel)] = "title"><br />
    
    <label class="add">Publisher</label>
    <input type="text" id="name" [(ngModel)] = "name"><br />
  
    <label  class="add">Type</label>
    <input type="text" id="type" [(ngModel)] = "type">
    <!-- <p *ngIf="!validInputs">{{validation}}</p>  -->
      <p>{{validateFields(author,title,name,type)}}</p>  
    
    <button class="button-add"   (click) = "addGroot()">Add Groot Entries</button><br />
</div>
<hr>
<button  class="button-update" (click) = "displayAllGroot()">Update Groot News</button>
<br /><br />
<table *ngIf="grootList" class="groot-table">
    <tr>
        <!-- <th>Id</th> -->
        <th>Author</th>
        <th class="title">Title</th>
        <th>Publisher</th>
        <th>Type</th>
    </tr>
    <tr *ngFor = "let groot of grootList"> 
        <!-- <td>{{groot.id}}</td> -->
        <td >{{groot.author}}</td>
        <td>{{groot.title}}</td>
        <td  class="publisher">{{groot.name}}</td>
        <td>{{groot.type}}</td>
      
    </tr>
</table>
<!-- <h6 *ngFor = "let groot of grootList">{{groot.id}} {{groot.name}} {{groot.type}}</h6> -->
