
<br />
<h3>About The Society</h3>
<hr >
<p id="info">hello</p>

<div class="about">
  <p>This website is designed for you to meet and interact with fello Groot fans in an uplifting environment. 
  Find news, events, photos, and other Groot-related features in the groot society database. Please
    feel free to Contact the Society for News and Updates! <br />
   
</p> 
<p> Questions, Comments, Complaints? Contact <a href="mailto:tmaestas@armchairbitcoinist.com">Groot Society Moderator</a></p>
<app-contactus class="footer"></app-contactus>  
</div>