<!-- <div class="container "> -->
  <!-- <button routerLink="photos/1" class="btn btn-light">Photos</button> -->
 <div  style="text-align:center" >
      <h2>
      <em>The Friends of <span class="groot"> {{ title }}</span> Society</em>
    </h2>
    <h3 class="groot">Guardians of the Galaxy API</h3> <img width="210" id="groot" alt="Groot Logo" [src]="grootImage">
   
    <hr>
 </div> 
     <hr>
     <!-- <h3>Welcome {{currentUser.fName}}!</h3>  -->
<h5>Registered users</h5>
<ul>
    <li *ngFor="let user of users">
        <a (click)="getThisUser(user.id)"><strong>Details #{{user.id }}: </strong></a>   {{user.email}} ({{user.fName}} {{user.lName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul>
    <div *ngIf="user">
  <h5>Member Narratives</h5>
        <!-- Member's Name <strong>{{user.getName()}}</strong>, with these narratives: -->
     #{{user.id }}: Member's Name <strong>{{user.fName}} {{user.lName}}  </strong>, has these narratives: 
      <hr>
        <div *ngIf="user.media">
            Character <strong>{{user.media.character}}</strong>, located at: <strong>{{user.media.location}}</strong> within
            company, <br />and personal Quotation:  <em>{{ user.media.quote }}</em>. 
        </div>
    </div>
<hr>


<h5>Collections</h5>
  <div class="row cards">   
        <div   *ngFor="let grootBook of grootBooks | async">
          <div class="card">
            <div class="card-body"> 
              <a routerLink="{{grootBook.id}}">{{grootBook.id}} 👆&nbsp;</a> 
              <span>{{grootBook.character}} </span><br />
              <span>From:&nbsp;&nbsp;&nbsp; {{grootBook.location}} </span><br />
              <span>Company:&nbsp; {{grootBook.thorinsCompany}}  </span><br /><br />
              <p class="quote">{{grootBook.quote}} </p>  
               <img width="70" alt="Groot Small Logo" [src]="grootSmallImage">  
              <p><small>{{grootBook.uniqueId}}</small></p> 
            </div>
          </div>  

    </div>
  </div>
<!-- </div> -->