
 <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar routerLink=""><img width="120" class="logo" alt="Angular Logo" src="https://friends-of-groot-society.s3.amazonaws.com/assets/grootsmall.png"></mat-toolbar>  
    <br />
    <br />
    <hr>
    <mat-nav-list>  
      <a mat-list-item id="news" routerLink="news/">News</a>
      <!-- <a mat-list-item routerLink="search/">Search</a> -->
      <a mat-list-item  id="guardians" routerLink="grootedex/">Guardians</a>
      <a mat-list-item  id="about" routerLink="about/">About</a>
        <hr>
      <a mat-list-item id="register" routerLink="register/">Register</a> 
      <a mat-list-item id="login" routerLink="login/">Sign in</a> 
      <hr>
      <a mat-list-item  id="photos" routerLink="photos/1">Photos</a> 
      <a mat-list-item  id="members" routerLink="members/">Members</a>  
      <!-- <a mat-list-item routerLink="photos/:id">Photos</a>  -->
        <hr> 
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon"> menu </mat-icon>
      </button> 
    </mat-toolbar>
    <!--   groot ...   -->
  </mat-sidenav-content>
</mat-sidenav-container>
